
.info-container{
    display: block;
    align-items: center;
    width: 35%;
    justify-content: center;
    background: $color-white;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    top: 0;
    left: 67%;
    visibility: hidden;
    transition: $transition;
    border: 1px solid $color-border;

    @media (max-width: 64rem){
        width: 60%
    }

    @media (max-width: 37.5rem){
        left: 15%;
        top: 0;
        width: 90%;
    }

    & > b{
        display: block;
        text-align: right;
        cursor: pointer;

        & > i{
            color: $color-error;
        }
    }
    
    form{
        width: 100%;
        padding: 0.5rem;

        .info_group{
            display: block;
            margin-top: 3rem;

            &-item{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                position: relative;
                margin-top: 1rem;
                

                & > i{
                    position: absolute;
                    color: #7a797e;
                    cursor: pointer;
                    margin: 6px;
                }
                
            .form__input{
                background: $color-bg2;
                outline: none;
                border: none;
                flex-grow: 1;
                color: rgb(146, 143, 143);
                font-size: 16px;
                height: 2.5rem;
                border: 2px solid $color-bg2;
                letter-spacing: 0.5px;
                padding: 1.5rem;
                border-radius: 5px;

                &::placeholder{
                    font-weight: 300;
                    text-align: left;

                }
                
                &:focus{
                    background: $color-white;
                    color: $color-black;
                    border: 2px solid $color-pry;
                }
            }
            
        }
    }

}
}

.open-info{
    transform: translate(-50%, -50%) scale(1);
    top: 55%;
    left: 50%;
    visibility: visible;
    z-index: 9999;

    @media (max-width: 37.5rem){
        transform: translate(-50%, -50%) scale(1);
        top: 70%;
        left: 50%;
        visibility: visible;
    }
}