$color-pry: #E87E1C;
$color-bg: #f7f4ef;
$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);
$color-border: rgba(192, 189, 189, 0.5);
$color-bg2: #f5dec8;
$color-pry-varient: #faae66;
$color-error: red;
$color-success: green;
$transition: all 400ms ease-in-out;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    background: $color-bg;
}
