.container{
    width: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    align-items: center;
    color: $color-pry;


    

    @media (max-width: 37.5rem){
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        text-align: center;
      }



    .search-bar{
        display: block;
        width: 30%;
        height: 2.1rem;
        border-radius: 5px;
        background: $color-white;
        border: 2px solid $color-border;
        z-index: 10;

        @media (max-width: 37.5rem){
            width: auto;
        }

        &-input{
            display: flex;
            width: 100%;
            position: relative;
            font-size: 25px;
            font-weight: 500;


            &__header{
                padding: 0 0.5em;
                border: 0;
                background: transparent;
                overflow: hidden;
                width: 96%;

                &:focus{
                    outline: 0;
                }
            }

            &__submit{
                font-size: 1.1rem;
                cursor: pointer;
                border-radius: 5px;
                background: $color-white;
                z-index: 50;

                &:hover{
                    background: $color-border;
                }
                
                & i{
                    padding: 0.3rem;
                    color: $color-pry;
                }
            }
        }

        & > .list-group{
            display: grid;
            text-align: left;
            background: $color-white;
            border-bottom: 2px solid $color-pry-varient;
            border-left: 2px solid $color-pry-varient;
            border-right: 2px solid $color-pry-varient;
            height: auto;
            color: $color-black;
            z-index: 10;
            position: relative;
            gap: .5rem;
            font-weight: 300;
            margin-top: 6px;
        }
    
    }

    .left{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        font-size: 25px;

        
        & > button{
            font-weight: 500;
            cursor: pointer;
            border: none;
            background: transparent;
            font-size: 15px;
            padding: 0.3rem;

            &:hover{
                background: $color-pry-varient;
                border-radius: 5px;
            }
        }

        & > a{
            color: $color-pry;

            &:hover{
                background: $color-border;
            }
        }

        & > i{
            cursor: pointer;

            &:hover{
                background: $color-border;
            }
        }
    }

}

.notification{
    position: relative;

    &:hover{
        background: $color-border;
        cursor: pointer;
    }

    & .note{
        display: flex;
        position: absolute;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        align-items: center;
        justify-content: center;
        background: $color-success;
        color: $color-white;
        font-weight: 600;
        font-size: 10px;
        top: -3px;
        right: -3px;
        visibility: hidden;
        pointer-events: none;

    }

    .show-badge{
        visibility:visible
    }
}