/* Toby's part */

  .hero-btn-content {
    display: flex;
    align-items: center;
  }
  
  .hero-btn-2 {
    display: inline-block;
    text-decoration: none;
    color: white !important;
    border-radius: 10px;
    padding: 19px 34px;
    font-size: 12px !important;
    background: #E87E1C;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .display-front{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    border: 10px solid #D9D9D9;
    background-position: center;
    padding-top: 1rem;

    @media(max-width:37.5rem){
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  /* slides start */
  .swiper-container{
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper{
    width: 100%;
    height: fit-content;
  }

  .swiper-slide{
    position: relative;
  }

  .swiper-slide img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
  }

  .swiper-slide h3{
    color: #FFFFFF;
    font-size: 25px;
    position: absolute;
    top: 90%;
    left: 75%;
  }

  .swiper .swiper-pagination-bullet-active{
    background: orangered;
  }
  /* slide ends */

  .display-front .display-text1 h1 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: #E87E1C;
  }
  .display-front .display-text1 {
    width: 50%;
    text-align: center;
  }
  
  .display-front .display-text2 {
    width: 50%;
    text-align: center;
  }
  
  .display-front .display-text2 h1 {
    font-size: 25px;
    color:  #000000;
    text-align: center;
    padding-bottom: 3rem;
  }
  
  .display-front .display-text2 a {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .display-front .slider .slide-first .layer h3{
    color: #FFFFFF;
    font-size: 17px;
    padding-top: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 350px;
    margin-left: 180px;
  } 
  


  .food-hub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foods{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1rem;
    column-gap: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;

    @media(max-width: 64rem){
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 1rem;
    }

    @media(max-width: 37.5rem){
      grid-template-columns: 1fr;
      width: 90%;
    }
  }
  
  .food-container {
    width: 100%;
    height: 250px;
    position: relative;
    margin: 20px auto;
  }
  
  .food-container img {
    width: 100%;
    height: 250px;
    background-size: cover;
    border-radius: 10px;
  }
  
  .foods .food-container .layer2 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border-radius: 10px;

    &:hover{
      background-color: transparent;
    }
  }