/* Toby's part */

  .hero-btn-content {
    display: flex;
    align-items: center;
  }
  
  .hero-btn-2 {
    display: inline-block;
    text-decoration: none;
    color: white !important;
    border-radius: 10px;
    padding: 19px 34px;
    font-size: 12px !important;
    background: #E87E1C;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .display-front{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    border: 10px solid #D9D9D9;
    background-position: center;
    padding-top: 1rem;

    @media(max-width:37.5rem){
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  /* slides start */
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides{
    width: 800px;
    height: 400px;
    display: flex;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 20%;
    transition: 2s;
  }

  .slide img{
    width: 800px;
    height: 400px;
  }

/* slides end */

/* manual navigation starts */
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left: -150px;
  }  

  .manual-btn{
    border: 2px solid #E87E1C;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background: #E87E1C;
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }

  #radio2:checked ~ .first{
    margin-left: -20%;
  }

  #radio3:checked ~ .first{
    margin-left: -40%;
  }

  /* automatic navigation */

  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 360px;
    margin-left: -150px;
  }

  .navigation-auto div{
    border: 2px solid #E87E1C;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }

  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }

  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #E87E1C;
  }

  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #E87E1C;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #E87E1C;
  }

  .display-front .display-text1 h1 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: #E87E1C;
  }
  .display-front .display-text1 {
    width: 50%;
    text-align: center;
  }
  
  .display-front .display-text2 {
    width: 50%;
    text-align: center;
  }
  
  .display-front .display-text2 h1 {
    font-size: 25px;
    color:  #000000;
    text-align: center;
    padding-bottom: 3rem;
  }
  
  .display-front .display-text2 a {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .display-front .slider .slide-first .layer h3{
    color: #FFFFFF;
    font-size: 17px;
    padding-top: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 350px;
    margin-left: 180px;
  } 
  


  .food-hub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foods{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1rem;
    column-gap: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;

    @media(max-width: 64rem){
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 1rem;
    }

    @media(max-width: 37.5rem){
      grid-template-columns: 1fr;
      width: 90%;
    }
  }
  
  .food-container {
    width: 100%;
    height: 250px;
    position: relative;
    margin: 20px auto;
  }
  
  .food-container img {
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
  }
  
  .foods .food-container .layer2 h1{
    display: inline;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }