.recover-page{
    display: block;
    align-items: center;
    width: 35%;
    justify-content: center;
    background: $color-white;
    border: 1px solid $color-border;

    @media (max-width: 64rem){
        width: 60%
    }

    @media (max-width: 37.5rem){
        width: 80%;
    }

    & > b{
        display: block;
        text-align: right;
        cursor: pointer;
        padding: 5px;

        & > i{
            color: $color-error;
        }
    }

    &_main{
        margin-top: .5rem;
        padding: 10px;

        &>h4{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        }

        .resetInput{
            display: flex;
            width: 100%;
            align-items: center;
            position: relative;
            margin-top: 1rem;

            & > i{
                position: absolute;
                color: #7a797e;
                cursor: pointer;
                margin: 5% 5% 5% .5%;
            }

            .reset-input{
                background: $color-bg2;
                outline: none;
                border: none;
                flex-grow: 1;
                color: rgb(146, 143, 143);
                font-size: 14PX;
                height: 2.5rem;
                border: 2px solid $color-bg2;
                letter-spacing: 1px;
                padding: 1.3rem;
                border-radius: 5px;
                // margin-left: 5%;
                width: 100%;

                &::placeholder{
                    font-weight: 300;
                    text-align: left;

                }
                
                &:focus{
                    background: $color-white;
                    color: $color-black;
                    border: 2px solid $color-pry;
                }
            }
        }

        &>p{
            text-align: right;
            margin-top: .5rem;
            font-size: 13px;
            font-weight: 400;
        }

        &> .reset-pass{
            width: 100%;
            margin: 3rem 0 9rem 0;
            height: 2.5rem;
            border-radius: 10px;
            background: $color-pry;
            color: $color-white;
            border-color: $color-pry;

            
            &:active{
                transform: scale(0.90);
                transition: all 400ms ease-in-out;
            }

            &:hover{
                background: $color-success;
                border: 2px solid $color-border;
            }
        }
    }
}

.show-forgot-pass{
    transform: translate(-50%, -50%) scale(1);
    top: 62.35%;
    left: 50%;
    visibility: visible;
    z-index: 9999;

    @media (max-width: 37.5rem){
        top: 68.5%;
    }
}