.track-orders{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    width: 45%;
    left: 27.5%;
    z-index: 1;

    @media (max-width: 64rem){
        width: 70%;
        left: 15%;
    }

    @media(max-width: 37.5rem){
        width: 90%;
        left: 5%;
    }

    &-cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        background: $color-white;

        &_top{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: $color-success;
            height: 2rem;
            color: $color-white;
            font-weight: 500;
        }

        &_bottom{
            display: block;
            margin-top: .5rem;
            background: $color-bg2;
            padding: 10px;
            width: 100%;
            font-weight: 400;
            height: auto;

            .orders-record{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1.5rem;
                width: 100%;
                margin-bottom: 1rem;

                @media(max-width: 37.5rem){
                    gap: .5rem;
                }

                .order-icon{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    color: $color-success;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
    
                    & > i{
                        border: 1.5px solid $color-success;
                        border-radius: 2px;
                        background: $color-bg2;
                    }

                    & .timer{
                        color: $color-pry;
                        border: 2px solid $color-pry;
                        position: absolute;
                    }

                    & .hour-t{
                        z-index: 5;
                    }
                }
            }
            .hour-dis{
                .timer{
                    z-index: 7;
                }
            }
        }
    }
}

.move-up{
    margin-top: -3rem;
}

.order-ani{
    padding: 5px;

        &:hover{
            cursor: pointer;
            border: 1px solid $color-black;
        }
}

.info-empty-track{
    visibility: visible;
}