.u-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container{
    background: $color-white;
    display: block;
    font-weight: 400;
    width: 40%;
    margin-top: 1rem;

    @media (max-width: 64rem){
        width: 70%;
    }

    @media(max-width: 37.5rem){
        width: 90%;
    }

    &_top{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background: $color-success;
        color: $color-white;
        height: 2rem;
    }

    &_bottom{
        margin-top: 0.5rem;
        padding: 0.5rem;
        display: block;
        background: $color-bg2;

        &-m{
            display: flex;
            height: auto;
            width: 100%;

            &-img {
                height: auto;
                width: 150px;
                position: relative;
                border: 5px solid $color-white;
                margin-right: 2%;

                & >.img-preview{
                height: 100%;
                width: 100%;
                background: url('../Assets/users-profile/no-face.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                overflow: hidden;
                }

                & .pics-adjust{
                    position: absolute;
                    bottom: 0;
                    color: $color-white;
                    background: $color-pry-varient;
                    opacity: 0;
                    width: 100%;
                    text-align: center;
                    padding: 5px;
                    font-size: 23px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;

                    &:hover{
                        opacity: 1;
                    }
                }

                & .my-file{
                    display: none;
                    visibility: hidden;
                    
                }

                & > p{
                    font-weight: 400;
                    padding: 1rem;

                    &>b{
                        color:blue;
                    }
                }
            }

            &-details{
                width: 70%;
                height: 27vh;
                            
                    .form__input{
                        
        
                        &::placeholder{
                            font-weight: 300;
                            text-align: left;
        
                        }
                        
                        &:focus{
                            background: $color-white;
                            color: $color-black;
                            border: 2px solid $color-pry;
                        }
                    }

                .profile-input{
                    display: flex;
                    margin-bottom: 0.55rem;
                    background: $color-bg3;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 5px;
                    height: 2.4rem;
                    position: relative;
                    width: 100%;

                    & > i{
                        color: grey;
                        margin: 1px;
                        position: absolute;
                        pointer-events: none;
                    }

                    & > input{
                        background: transparent;
                        border: none;
                        outline: none;
                        flex-grow: 1;
                        color: grey;
                        padding: 1.2rem;
                        width: 100%;
                        height: 2rem;
                        letter-spacing: 0.5px;
                        border-radius: 5px;


                        &::placeholder{
                            font-weight: 300;
                            text-align: left;
        
                        }
                        
                        &:focus{
                            background: $color-white;
                            color: $color-black;
                            border: 2px solid $color-pry;
                        }
                    }
                }
            }
        }

        &-bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 13.5rem 0 1.5rem 0;
            
            & button{
                width: 30%;
                height: 2rem;
                background: $color-pry;
                color: $color-white;
                border-radius: 10px;

                &:hover{
                    background: $color-success;
                }

                &:active{
                    transform: scale(0.90);
                    transition: all 400ms ease-in-out;
                }
            }
        }
    }
}

.log-out{
    color: $color-error;
    font-weight: 600;
    background: $color-white;
    font-size: 16px;
    border-radius: 5px;
}