* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background: #f7f4ef;
  color: #E87E1C;
}

.container {
  position: fixed;
  width: 100%;
  background-color: #F5F5F5;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  align-items: center;
}
.head .search-bar {
  border: 2px solid rgba(192, 189, 189, 0.5);
  display: flex;
  width: 30%;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  height: 2rem;
}
.head .search-bar__input {
  flex-grow: 1;
  font-size: 0.9rem;
  padding: 0 0.5em;
  border: 0;
  background: transparent;
}
.head .search-bar__input:focus {
  outline: 0;
}
.head .search-bar__submit {
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.head .search-bar__submit i {
  padding: 0.3rem;
  color: #E87E1C;
}
.head .left {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.head .left small > a {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.nav {
  height: 50px;
  display: flex;
  align-items: center;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 5px;
}
.nav ul li {
  display: flex;
  background: #E87E1C;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav ul li:hover {
  background: #faae66;
}
.nav ul li:hover .sub-menu1 {
  display: block;
}
.nav ul li a {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.sub-menu1 {
  display: none;
  top: 5vh;
  position: absolute;
  left: 0%;
  right: 0%;
}
.sub-menu1 ul {
  display: block;
}
.sub-menu1 ul li {
  align-items: left;
  justify-content: left;
  background: #f5dec8;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.sub-menu1 ul li:hover {
  background: #faae66;
}
.sub-menu1 ul li:last-child {
  border-bottom: none;
}
.sub-menu1 ul li a {
  color: rgb(0, 0, 0);
}

/* toby */
.hero-btn-content {
  display: flex;
  align-items: center;
}

.hero-btn-2 {
  display: inline-block;
  text-decoration: none;
  color: white !important;
  border-radius: 10px;
  padding: 19px 34px;
  font-size: 12px !important;
  background: #E87E1C;
  position: relative;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.display-front{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  background-position: center;
  padding-top: 7rem;
}

.display-front .display-pic img {
  height: 400px;
}

.display-front .display-text1 h1 {
  width: 100%;
  font-size: 25px;
  text-align: center;
}
.display-front .display-text1 {
  width: 50%;
  text-align: center;
}

.display-front .display-text2 {
  width: 50%;
  text-align: center;
}

.display-front .display-text2 h1 {
  font-size: 25px;
  color:  #000000;
  text-align: center;
  padding-bottom: 3rem;
}

.display-front .display-text2 a {
  padding-left: 5rem;
  padding-right: 5rem;
}

.layer {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  width: 50%;
  text-align: center;
  font-size: 20px;
  text-shadow: 5px 5px 10px #000000;
  padding-top: 9rem;
  padding-left: 18rem;
}

.food-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #F5F5F5;
  padding: 100px;
  padding-top: 1rem;
}

.food-box1 img{
  height: 250px;
  justify-content: space-around;
  padding: 10px;
}
